
h3 a {
	font-size: 75%;
}
a {
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}



.warning {
	border-radius: 3px 3px 3px 3px;
	margin: 10px;
	padding: 10px;
}
.warning p { margin: 0; }
.yellow {
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
}
.red {
	background-color: #FFEBE8;
	border: 1px solid #CC0000;
}



/* .loginSection
-------------------------*/
.loginSection {
	margin: 150px 0 0;
	text-align: center;
}
.loginSection .usernameSuggestions {
	display: inline-block;
	text-align: left;
}

/* .roomListSection
-------------------------*/
.roomListSection {}
.roomListSection ul li.connected {
	font-weight: bold;
}



/* .roomSection
-------------------------*/
.roomSection {}
.roomSection .chat {
	border: 1px solid #000000;
	font-family: "Courier";
	height: 500px;
	margin: 10px 0;
	overflow-y: auto;
	padding: 5px;
	width: 85%;
}
.roomSection .chat .line {
	margin: 2px 0;
}
.roomSection .chat .line.first { height: 500px; }
.roomSection .msg {
	padding: 5px;
	width: 85%;
}



/* .aboutSection
-------------------------*/
.aboutSection {}


