<section class="roomSection">
	<a href="javascript:window.history.back();">Back</a>
	<h2 ng-bind="currentRoom.id"></h2>
	<ul>
		<li>Id: {{currentRoom.id}}</li>
		<li>Topic: {{currentRoom.topic}}</li>
		<li>Password: {{currentRoom.password}}</li>
		<li>Users: {{currentRoom.users}}</li>
		<li>Ops: {{currentRoom.ops}}</li>
		<li>Banned: {{currentRoom.banned}}</li>
		<li>Locked: {{currentRoom.locked}}</li>
		<li>Messages: {{currentRoom.messages}}</li>
	</ul>
	<div class="chat">
		<div class="line" ng-repeat="msg in messages">
			<span>[{{msg.timestamp}}]</span>
			<a href="">{{msg.nick}}</a>
			<span>: {{msg.message}}</span>
		</div>
	</div>
	<form ng-submit="msgSubmit(message)">
		<input type="text" class="msg" ng-model="message" autofocus />
	</form>
</section>
