<section class="roomListSection">
	<h2>Username: {{username}}</h2>
	<h3>Room list <a href="" ng-click="refreshRoomList()">refresh</a></h3>
	<ul>
		<li ng-repeat="room in roomList" ng-class="{connected: room.isConnect}">
			<a href="" ng-click="joinNewRoom(room.id)">{{room.id}} ({{room.usersCount}}): {{room.topic}}</a>
		</li>
	</ul>
	<form ng-submit="joinNewRoom(newRoomId)">
		<input type="text" ng-model="newRoomId" />
		<input type="submit" value="Join" ng-disabled="!newRoomId" />
	</form>
	
	<h3>User list <a href="" ng-click="refreshUserList()">refresh</a></h3>
	<ul>
		<li ng-repeat="user in userList">{{user.name}}</li>
	</ul>
</section>
